.auth-feature {
    .app-name {
        line-height: 1em;
        margin: 0;
        color: $brand-primary;
    }

    .app-version {
        font-size: 0.8em;
        color: $gray-light;
    }

    .input-group-addon {
        min-width: 45px;
    }
}

#login-page {
    
}

#forgot-password-page {
}
