<div id="login-page" class="auth-feature middle-box text-center animated fadeInDown">
    <div class="logo-container m-b-sm hand-pointer" ng-cloak ui-sref="public.landing">
        <div class="app-info">
            <h2 class="app-name">{{coreCtrl.name}}</h2>
            <div class="app-version">version: {{ coreCtrl.version }}</div>
        </div>
    </div>
    <div class="box-content">
        <form class="m-t" role="form" name="LoginForm" novalidate ng-submit="vm.login(LoginForm)">
            <div class="form-group" ng-class="{'has-error':LoginForm.email.$dirty && LoginForm.email.$invalid}">
                <div class="input-group">
                    <span class="input-group-addon" id="email-addon">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                    </span>
                    <input class="form-control" name="email" type="email" placeholder="E-mail Address"
                           ng-maxlength="500" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                           ng-required="true"
                           ng-model="vm.loginModel.ResourceName"
                           aria-describedby="email-addon">
                </div>
                <div ng-messages="LoginForm.email.$error" ng-if="LoginForm.email.$touched">
                    <em class="text-danger small block" ng-message="maxlength">Only 500 characters are allowed..</em>
                    <em class="text-danger small block" ng-message="pattern">Please, enter a valid e-mail address.</em>
                    <em class="text-danger small block" ng-message="required">Email is required.</em>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':LoginForm.password.$dirty && LoginForm.password.$invalid}">
                <div class="input-group">
                    <span class="input-group-addon" id="password-addon">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    <input class="form-control password" name="password" type="password" placeholder="Password"
                           ng-model="vm.loginModel.Password" ng-required="true"
                           aria-describedby="password-addon">
                </div>
                <div ng-messages="LoginForm.password.$error" ng-if="LoginForm.password.$touched">
                    <em class="text-danger small block" ng-message="required">Password is required.</em>
                </div>
            </div>
            <button class="btn btn-block btn-primary m-b" type="submit" ng-disabled="vm.isBusy">
                <span>
                    <i class="fa fa-cog fa-spin fa-fw" ng-if="vm.isBusy"></i>
                </span> Login
            </button>

            <div class="row">
                <div class="col-sm-6">
                    <a ui-sref="public.forgotPassword">
                        <small>Forgot password</small>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a ui-sref="public.landing">
                        <small>Return home</small>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12 m-t-sm">
            <p>&copy; {{coreCtrl.year}} {{ coreCtrl.name }}</p>
        </div>
    </div>
</div>